<%= javascript_pack_tag "banking_system" %>
<div class="container">
  <div>
    <% if notice %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <p id="notice"><%= notice %></p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
  </div>
  <div class="pt-2 pb-2 d-flex justify-content-between align-items-center">
    <h1>Welcome in Spark Bank</h1>
    <%= link_to 'Add New Customer', new_banking_system_path ,class:'btn btn-info' %>
  </div>
  <div id="coustomer-details">
    <%= render 'banking_systems/show_all_coustomer' %>
  </div>
  
</div>
<div class="container" id="banking-bord">
	
</div>

<div class="glass">
</div>
<style>
	.glass{
		background: rgba( 255, 255, 255, 0.25 );
		box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
		backdrop-filter: blur( 4px );
		-webkit-backdrop-filter: blur( 4px );
		border-radius: 10px;
		border: 1px solid rgba( 255, 255, 255, 0.18 );
	}
</style>
