<ul class="nav justify-content-center mt-2 shadow pt-1 pb-1">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/" style="font-size:22px">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/banking_systems" style="font-size:22px">All Customer</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/#about" style="font-size:22px">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/#contact" style="font-size:22px" >Contact</a>
  </li>
</ul>